Django==5.0.6
azure-monitor-opentelemetry-exporter==1.0.0b27
opentelemetry-exporter-otlp==1.25.0 
opentelemetry-instrumentation==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-instrumentation-django==0.46b0
opentelemetry-instrumentation-requests==0.46b0
python-dotenv==1.0.1
mssql==1.0.1
mssql-django==1.5
whitenoise==6.7.0
gunicorn==21.2.0
pandas==2.2.0
azureml-mlflow==1.56.0
azure-ai-ml==1.18.0
pytest-django==4.8.0