<!-- template.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Problem Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script src="{% static 'canvasjs.min.js' %}"></script>
    {% block script %}{% endblock %}
</head>
<body>
    <nav>
        <section class="nav-section">
            <a class="button-white-yellow" href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
            <a class="button-white-yellow" href="{% url 'update_user' %}">Update my account</a>
            {% endif %}
        </section>
        <section class="nav-section">
            <div class="app-name">Problem Management</div>
        </section>
        <section class="nav-section">
            {% if user.is_authenticated %}
                <p>You are connected as {{ request.user }}</p>
                <a class="button-blue" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="button-blue" href="{% url 'signup' %}">Sign up</a>
                <a class="button-yellow" href="{% url 'login' %}">Login</a>
            {% endif %}
        </section>
    </nav>
    <div class="content-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
