{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Upload</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button-blue">Upload</button>
        </form>
        {% if message %}
            <p class="success">{{ message }}</p>
        {% endif %}

        {% if dataframe %}
            <div class="content-container">
                {{ dataframe|safe }}
            </div>
        {% endif %}

        {% if download_link %}
            <div class="download-link">
                <h2>Download Transformed Data</h2>
                <a href="{% url 'download_file' file_path='clustered_data.csv' %}" class="button-blue">Download CSV</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

